
@{
    ViewBag.Title = "Administration";
}

<h2>Our Products</h2>

<br />
@Html.ActionLink("Products", "ProductList")
<br />
@Html.ActionLink("Products", "ProductList", null, new { @class = "btn btn-lg btn-info" })

